<!-- <div class="form-group">

    <input type="street" class="form-control" id="autocomplete" placeholder="Street">
    <br>
    <input type="city" class="form-control" id="inputCity" placeholder="City">
    <br>
    <input type="state" class="form-control" id="inputState" placeholder="State">
    <br>
    <input type="zip" class="form-control" id="inputZip" placeholder="Zip">
    <br>
    <input type="county" class="form-control" id="inputCounty" placeholder="County">
    <br>
    <input type="country" class="form-control" id="inputCountry" placeholder="Country">

    <ion-button [routerLink]="['/map']">Cornfirm</ion-button>
</div> -->

<ion-form action="/action.php">
    <ion-label for="fname">First name:</ion-label><br>
    <input type="text" id="fname" value=""><br><br>
    <ion-label for="lname">Last name:</ion-label><br>
    <input type="text" id="lname" value=""><br><br>
    <ion-label for="contact">Contact Details:</ion-label><br>
    <input type="text" id="contact" value=""><br><br>
    <ion-label for="Physical Street Address">Physical Street Address:</ion-label><br>
    <input type="text" id="Physical Street Address" value=""><br><br>
    <ion-label for="Street Name">street name:</ion-label><br>
    <input type="text" id="Street Name" value=""><br><br>
    <ion-label for="Town/Suburb">Town/Town:</ion-label><br>
    <input type="text" id="Town/Surbub" value=""><br><br>
    <ion-label for="postal code">Postal code:</ion-label><br>
    <input type="text" id="postal code" value=""><br><br>

    <!-- <input type="submit" value="Submit"> -->
    <ion-button [routerLink]="['/map']">Submit</ion-button>
</ion-form>